<template>
    <div>
        <h1>科技感登录</h1>
        <form v-if="isLoginMode" @submit.prevent="handleLogin">
            <input v-model="login.username" type="text" placeholder="用户名" required>
            <input v-model="login.password" type="password" placeholder="密码" required>
            <input type="submit" value="登录">
            <p>还没有账号？<a href="#" @click="switchMode">注册</a></p>
        </form>
        <form v-else @submit.prevent="handleRegister">
            <input v-model="register.username" type="text" placeholder="用户名" required>
            <input v-model="register.password" type="password" placeholder="密码" required>
            <input type="submit" value="注册">
            <p>已有账号？<a href="#" @click="switchMode">登录</a></p>
        </form>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        data() {
            return {
                isLoginMode: true,
                login: {
                    username: '',
                    password: '',
                },
                register: {
                    username: '',
                    password: '',
                },
            };
        },
        methods: {
            handleLogin() {
                axios
                    .post('http://localhost:8000/api/login/', {
                        username: this.login.username,
                        password: this.login.password,
                    })
                    .then((response) => {
                        // 处理登录成功的逻辑
                        const token = response.data.token;
                        // 将token保存到本地存储或使用其他方式进行管理
                        console.log('登录成功');
                        // 跳转到主页或其他页面
                        this.$router.push('/index');
                    })
                    .catch((error) => {
                        // 处理登录失败的逻辑
                        console.log('登录失败', error);
                    });
            },
            handleRegister() {
                axios
                    .post('http://localhost:8000/api/register/', {
                        username: this.register.username,
                        password: this.register.password,
                    })
                    .then((response) => {
                        // 处理注册成功的逻辑
                        console.log('注册成功');
                        // 切换到登录模式
                        this.switchMode();
                    })
                    .catch((error) => {
                        // 处理注册失败的逻辑
                        console.log('注册失败', error);
                    });
            },
            switchMode() {
                this.isLoginMode = !this.isLoginMode;
                this.clearFields();
            },
            clearFields() {
                this.login.username = '';
                this.login.password = '';
                this.register.username = '';
                this.register.password = '';
            },
        },
    };
</script>

<style scoped>
    h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    input {
        margin-bottom: 10px;
    }
</style>
